@import 'varriables';
@import 'mixins';
body {
    overflow-x: hidden;
}

h2 {
    font-size: $font-size-30+10;
    color: $base-color2;
    margin-bottom: 2%;
    font-family: $font-family-semibold;
    text-align: center;
}

h3 {
    font-size: $font-size-30;
    color: $base-color2;
    margin-bottom: 2%;
    font-family: $font-family-semibold;
    margin: 0;
}

.welcome-message {
    text-align: center;
    padding: 5% 0;
}

.about_us_section {
    padding: 50px 0 0;
}

.about-us-tab {
    .quicktabs-wrapper {
        display: table;
    }
    ul.quicktabs-tabs {
        width: 50%;
        display: table-cell;
        float: none;
        
        @media screen and (max-width:$sm){
             width: 30%;
        }
        
        @media screen and (max-width:$xs){
             width: 100%;
            float: left;
        }
        li {
            a {
                text-align: left;
                color: $gray-color;
                font-size: $font-size-24;
                font-family: $font-family-light;
                padding: 10px 5px;
                border-right: 2px solid lighten($gray-color, 20%);
                height: auto;
                
                @media screen and (max-width:$sm){
            font-size: $font-size-16;
        }
                
                @media screen and (max-width:$xs){
                    font-size: $font-size-20;
                }
            }
        }
        li.active {
            background: none;
            border: none;
            a {
                color: $base-color2;
                border-right: 2px solid $base-color2;
                font-family: $font-family-bold;
            }
        }
    }
    .quicktabs_main {
        width: 50%;
        background: none;
        text-align: center;
        border: none;
        display: table-cell;
        float: none;
        vertical-align: bottom;
        
         @media screen and (max-width:$sm){
             width: 70%;
        }
        
        @media screen and (max-width:$xs){
             width: 100%;
            float: left;
        }
        
       
        .views-field-title {
            color: $base-color2;
            font-size: $font-size-24;
            font-family: $font-family-bold;
        }
        .quicktabs-tabpage {
            position: relative;
            padding-top: 100px;
            @media screen and (max-width:$sm){
                padding-top: 50px;
            }
            .fa {
                position: absolute;
                font-size: $font-size-30+50;
                top: 0;
                left: 43%;
                color: $base-color2;
                @media screen and (max-width:$sm){
             font-size: $font-size-30+20;
        }
            }
        }
    }
}

.gellary-section {
    padding: 50px 0;
    .gellary-wrap {
        position: relative;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
        @media screen and (max-width:$xs){
            width: 100%;
        }
        &:hover {
            .views-field-body {
                opacity: 1;
                z-index: 1;
            }
            .views-field-field-image-gallery {
                img {
                    transform: scale(1.2);
                }
            }
            .modal-body {
                img {
                    transform: scale(1);
                }
            }
            .hover-effect {
                opacity: 1;
            }
        }
        .views-field-field-image-gallery {
            img {
                width: 100%;
                transform: scale(1);
                @include transition(0.5s);
            }
        }
        .hover-effect {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding: 15px;
            text-align: center;
            color: $white;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            @include transition(0.5s);
            h3 {
                font-family: $font-family-semibold;
                margin-top: 34%;
            }
        }
    }
    .modal {
        background: rgba(0, 0, 0, 0.7);
        .modal-content {
            box-shadow: none;
            -webkit-box-shadow: none;
            border: none;
            background: none;
            color: $white;
            text-align: center;
            h3 {
                font-weight: bold;
                padding: 20px 0;
                margin: 0;
                font-size: $font-size-30;
            }
            img {
                width: auto;
                margin: 0 auto;
            }
            .close {
                color: #000;
                font-size: 50px;
                opacity: 1;
                font-weight: normal;
                background: #fff;
                width: 50px;
                border-radius: 50%;
            }
        }
    }
}

.home-services {
    padding: 30px 0;
    text-align: center;
    .views-field {
        margin-bottom: 20px;
        a {
            font-size: $font-size-20+2;
            color: $black-color;
            font-family: $font-family-medium;
            &:hover {
                text-decoration: none;
            }
        }
        p {
            padding: 10px 0;
        }
        .fa {
            font-size: $font-size-30+20;
            color: $base-color2;
        }
    }
}

.events {
    background: lighten($gray-color, 30%);
    padding: 50px 0;
    .view-header {
        text-align: center;
        padding: 10px 0 50px;
        width: 80%;
        margin: 0 auto;
    }
    .event-text {
        background: $white;
        position: relative;
        width: 100%;
        padding: 10px;
        
        h3 {
            margin: 0;
            padding-bottom: 10px;
            font-weight: bold;
        }
        div {
            border: 1px solid $border-color;
            padding: 10px;
            position: relative;
            &:before {
                content: '';
                border: 1px solid $border-color;
                width: 98%;
                position: absolute;
                height: 96%;
                top: 3px;
                left: 3px;
            }
        }
        
        @media screen and (min-width:$md){
            position: absolute;
        width: 60%;
        right: 15px;
        padding: 20px;
        top: 70px;
        }
    }
    .col-2 {
        .event-text {
            left:0;
            @media screen and (min-width:$md){
                left: 15px;
            }
        }
        img {
            float: right;
        }
    }
    table {
        tr {
            &:nth-child(even) {
                .col-1 {
                    .event-text {
                        left: 0;
                    }
                    img {
                        float: right;
                        margin-right: 0;
                        @media screen and (min-width:$md){
                            margin-right: 15px;
                        }
                    }
                }
                .col-2 {
                    .event-text {
                        right: 0;
                        left: inherit;
                    }
                    img {
                        float: left;
                        margin-left: 0;
                        @media screen and (min-width:$md){
                           margin-left: 15px; 
                        }
                    }
                }
            }
        }
        width: 100%;
        td.events-cotent {
            position: relative;
            margin-bottom: 30px;
            float: left;
            
            img{
                width: 100%;
            }
            
            @media screen and (max-width:$xs){
                width:100%;
            }
        }
    }
}

.testimonial {
    padding: 50px 0;
    h3 {
        font-size: $font-size-24;
    }
    img {
        margin: 0 auto;
        border-radius: 50%;
        border: 5px solid $base-color2;
    }
    .carousel-caption {
        color: $black-color;
        text-shadow: none;
        position: relative;
        left: 0;
        right: 0;
    }
    .left {
        background: none;
        span {
            font-size: 70px;
            color: $black-color;
        }
    }
    .right {
        background: none;
        span {
            font-size: 70px;
            color: $black-color;
        }
    }
    .carousel-control .icon-prev,
    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        top: 20%;
    }
}

.advantage {
    background: lighten($gray-color, 30%);
    padding: 50px 0;
    section {
        span {
            &:before {
                position: absolute;
                font-size: $font-size-26;
                top: 7px;
                color: $base-color2;
            }
        }
        i {
            &:before {
                position: absolute;
                font-size: $font-size-26;
                top: 25px;
                color: $base-color2;
            }
        }
        h2 {
            margin: 0;
            font-size: $font-size-24;
            color: $black-color;
            font-family: $font-family-semibold;
            text-align: left;
            padding: 0 0 15px 35px;
        }
        p {
            padding-left: 35px;
        }
    }
    section.advantage-heading {
        h2 {
            color: $base-color2;
            font-size: $font-size-30+10;
            text-align: center;
        }
        p {
            text-align: center;
            padding-bottom: 50px;
        }
    }
}

.team {
    padding: 50px 0;
    .team-block {
        display: table;
        margin-bottom: 40px;
        .views-field-body {
            width: 60%;
            display: table-cell;
            border-right: 1px solid $border-color;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            vertical-align: middle;
            padding: 0 15px;
        }
        .views-field-field-team-image {
            width: 40%;
            display: table-cell;
            border-left: 1px solid $border-color;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }
    }
}

.client-talk {
    background-image: url(../images/ban.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    .region-client-say {
        display: table;
        text-align: center;
        color: $white;
        section {
            display: table-cell;
            height: 500px;
            vertical-align: middle;
            .carousel-inner {
                width: 80%;
                margin: 0 auto;
                a {
                    font-size: $font-size-24;
                    color: $white;
                    font-family: $font-family-medium;
                    margin-top: 30px;
                }
            }
        }
        .left {
            background: none;
            left: -65px;
        }
        .right {
            background: none;
            right: -65px;
        }
    }
}

.contact-us {
    .map {
        img {
            width: 100%;
        }
    }
    
    .region-home-contact{
        .block-webform{
            width: 50%;
            float: left;
            padding-right: 20px;
        }
        
        .address{
            width: 50%;
            float:right;
            padding-left: 20px;
            h4{
                font-weight: bold;
            }
            p{
                padding-left: 15px;
            }
        }
    }
}

.footer{
    margin: 20px 0 0 0;
    text-align: center;
    background: $black-color;
}