@import 'fonts';

$font-family: 'Roboto';
$font-family-medium: 'RobotoMedium';
$font-family-light: 'RobotoLight';
$font-family-bold: 'RobotoBold';

$font-size:14px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-20:20px;
$font-size-24:24px;
$font-size-30:30px;



$white:#fff;
$base-color:aqua;
$base-color2:#FF0068;