@import 'fonts';

$lg:1200px;
$md:992px;
$sm:768px;
$xs:565px;

$font-family: 'source_sans_proregular';
$font-family-medium: 'gotham_mediumregular';
$font-family-light: 'gotham_lightregular';
$font-family-bold: 'gotham_boldregular';
$font-family-semibold: 'source_sans_prosemibold';
$font-family-black: 'source_sans_problack';
$font-family-probold: 'source_sans_probold';
$font-family-prolight: 'source_sans_prolight';
$font-family-lora:'loraregular';


$font-size:14px;
$font-size-16:16px;
$font-size-18:18px;
$font-size-20:20px;
$font-size-24:24px;
$font-size-26:26px;
$font-size-28:28px;
$font-size-30:30px;



$white:#fff;
$base-color:aqua;
$base-color2:#FF0068;
$gray-color:#999999;
$black-color:#000000;
$border-color:#cccccc;